{{page-title "FlightIconsHashicorpLogoFillIssue"}}

<div style="background-color: red; width: 500px; height: 500px;">
  <FlightIcon @name="hashicorp-color" @color="white" />
</div>

{{!-- Feel free to remove this! --}}

{{outlet}}